bin/*.js
lib/*.js
test/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

!src-application/*
src-application/package-lock.json
src-application/node_modules
src/application/client/build
src/application/client/package-lock.json
.DS_Store